body { background-color: #907155; color: #b7cee1; font-family: 'Kristen ITC', 'Century Gothic', sans-serif; text-align: center; }

a { text-decoration: none; color: #b7cee1; }

header#global, footer { position: relative; background-color: #b7cee1; color: #000000; padding: 0.25em; clear: both; }

header#global a { color: #000000; }

header#global hgroup { width: 14em; margin: 0 auto; font-family: 'Century Gothic', sans-serif; }

header#global h1 { font-size: 4em; font-weight: lighter; letter-spacing: 0.07em; }

header#global h2 { font-size: 0.7em; font-style: italic; }

header#global ul { position: absolute; list-style: none; font-size: 0.9em; top: 2.2em; left: 0; }

header#global li { float: left; margin: 0 1.2em; color: #aaaaaa; background-color: #b7cee1; width: 7em; }

header#index ul { float: right; font-size: 40px; }

header#index li { padding: 32px 1em; }

header#index hgroup { float: right; margin: 120px 2em 0 0; }

header#index h1 { font-size: 8em; font-weight: lighter; letter-spacing: 0.07em; }

header#index h2 { font-style: italic; }

footer { text-align: right; }

#nursery { width: 60em; margin: 0 auto; }

#nursery_info { width: 70%; margin: 0 auto; border-radius: 20px; border: solid 1px #000000; padding: 1em; background-color: #634e3b; clear: both; }

#nursery img { border: solid 3px #634e3b; width: 100%; }

div.captioned { float: left; width: 33.333%; padding: 1em; }

div.small { width: 20%; }

#nursery_info ul { -webkit-column-count: 2; -moz-column-count: 2; margin: 1em 0; text-align: left; }

#nursery_info li { margin: 0 1.5em; }

.album { width: 90%; margin: 0 auto; }

.album .main { height: 100px; position: relative; }

.album .main img { height: 100px; }

.album div { float: left; }

.album .arrow { font-size: 5em; cursor: pointer; display: none; }

img#face { float: right; clear: right; }
