/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { background-color: #907155; color: #b7cee1; font-family: 'Kristen ITC', 'Century Gothic', sans-serif; text-align: center; }

a { text-decoration: none; color: #b7cee1; }

header#global { position: relative; display: block; background-color: #b7cee1; color: #000000; padding: 0.25em; clear: both; }

header#global a { color: #000000; }

header#global hgroup { width: 14em; margin: 0 auto; font-family: 'Century Gothic', sans-serif; }

header#global hgroup h1 { position: relative; font-size: 4em; font-weight: lighter; letter-spacing: 0.07em; }

header#global hgroup h2 { position: relative; font-size: 0.7em; font-style: italic; }

nav ul { position: absolute; list-style: none; font-size: 0.9em; top: 2.2em; left: 0; }

nav ul ul { position: relative; font-size: 1em; top: 0; }

nav li { float: left; margin: 0 1.2em; color: #aaaaaa; background-color: #b7cee1; width: 7em; }

nav li:hover { background-color: #bdd5e7; cursor: pointer; }

nav li li { float: none; margin: 0; border-bottom: solid 1px #907155; width: 100%; }

nav li ul { display: none; }

nav li:hover ul { display: block; }

html.js nav li:hover ul { display: none; }

section#body { padding: 0.5em; }

footer { clear: both; text-align: right; }

h1 { font-size: 1.2em; font-weight: normal; }

#nursery { width: 60em; margin: 0 auto; }

#nursery_info { width: 70%; margin: 0 auto; -moz-border-radius: 20px; -webkit-border-radius: 20px; border: solid 1px #000000; padding: 1em; background-color: #634e3b; clear: both; }

#nursery img { border: solid 3px #634e3b; width: 100%; }

div.captioned { float: left; width: 33.333%; padding: 1em; }

div.small { width: 20%; }

#nursery_info ul { -webkit-column-count: 2; -moz-column-count: 2; margin: 1em 0; text-align: left; }

#nursery_info li { margin: 0 1.5em; }

.album { width: 90%; margin: 0 auto; }

.album .main { height: 100px; position: relative; }

.album .main img { height: 100px; float: left; }

.album div { float: left; }

.album .arrow { font-size: 5em; cursor: pointer; display: none; }
